<div class="page-title">
    <h1>Guides</h1>

</div>

<div class="page-content">


    <div class="tab-content" id="tab-1">

        <div class="card card-style">
            <div class="content">
                <h2 class="mb-2">Target Audience Marketing Traning and Research</h2>
                <span class="badge bg-highlight mb-3 p-1">COMPLETED</span>
                <h5 class="font-13 opacity-30 line-height-s mb-4">Practical tutorials with downloadable files included
                    and video editing course. </h5>
                <div class="row mb-0">
                    <div class="col-8">
                        <p class="font-600 mb-0 font-10 color-highlight">10% Complete</p>
                        <div class="progress" style="height:10px;">
                            <div class="progress-bar border-0 gradient-highlight text-start ps-2" role="progressbar"
                                style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="#" class="btn btn-full btn-s font-600 font-12 rounded-s gradient-highlight">Start</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-style">
            <div class="content">
                <h2 class="mb-2">Target Audience Marketing Traning and Research</h2>
                <span class="badge bg-highlight mb-3 p-1">COMPLETED</span>
                <h5 class="font-13 opacity-30 line-height-s mb-4">Practical tutorials with downloadable files included
                    and video editing course. </h5>
                <div class="row mb-0">
                    <div class="col-8">
                        <p class="font-600 mb-0 font-10 color-highlight">10% Complete</p>
                        <div class="progress" style="height:10px;">
                            <div class="progress-bar border-0 gradient-highlight text-start ps-2" role="progressbar"
                                style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="#" class="btn btn-full btn-s font-600 font-12 rounded-s gradient-highlight">Start</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="divider divider-margins"></div>

        <div class="card card-style mt-2">
            <div class="content mb-2">
                <p class="color-highlight font-600 mb-n1">Most comon Questions we Get</p>
                <h1>Frequent Questions</h1>
                <p>
                    We get asked these questions a lot, so we made this small section to help you out identifying what
                    you need faster.
                </p>

                <div class="divider mt-2 mb-3"></div>

                <h5 href="#FAQ1" data-bs-toggle="collapse" role="button" class="font-14 font-600">
                    Is this a PWA?
                    <i class="fa fa-angle-down float-end me-2 mt-1 opacity-50 font-10"></i>
                </h5>
                <div class="collapse" id="FAQ1">
                    <p class="pb-3">
                        Yes. Our item is a PWA. We have a servier worker and a manifest.json file ready and prepared for
                        you to use the item offline.
                    </p>
                </div>

                <div class="divider mt-3 mb-3"></div>

                <h5 href="#FAQ2" data-bs-toggle="collapse" role="button" class="font-14 font-600">
                    Is this a Cordova App?
                    <i class="fa fa-angle-down float-end me-2 mt-1 opacity-50 font-10"></i>
                </h5>
                <div class="collapse" id="FAQ2">
                    <p class="pb-3">
                        No, but we have a ready built version in our portfolio and you can convert it to Cordova
                        yourself. It's really simple.
                    </p>
                </div>

                <div class="divider mt-3 mb-3"></div>

                <h5 href="#FAQ3" data-bs-toggle="collapse" role="button" class="font-14 font-600">
                    Is this a WordPres Theme?
                    <i class="fa fa-angle-down float-end me-2 mt-1 opacity-50 font-10"></i>
                </h5>
                <div class="collapse" id="FAQ3">
                    <p class="pb-3">
                        No. Our item is a HTML, CSS3 and JS Site Template. You can however convert it to a WordPress
                        Theme.
                    </p>
                </div>

                <div class="divider mt-3 mb-3"></div>

                <h5 href="#FAQ4" data-bs-toggle="collapse" role="button" class="font-14 font-600">
                    Is this built with Boostrap?
                    <i class="fa fa-angle-down float-end me-2 mt-1 opacity-50 font-10"></i>
                </h5>
                <div class="collapse" id="FAQ4">
                    <p class="pb-3">
                        Yes! We include 2 versions, one built with Boostrap, and a much more flexible and powerful
                        custom AJAX version.
                    </p>
                </div>


            </div>
        </div>

    </div>

</div>