<div class="page-title">
    <h1>Guides</h1>

</div>

<div class="page-content">


    <div class="tab-content" id="tab-1">

        <div class="card card-style">
            <div class="content">
                <h2 class="mb-2">What Goes Where Guide</h2>
                <span class="badge bg-highlight mb-3 p-1">COMPLETED</span>
                <div class="row mb-0">
                    <div class="col-8">
                        <p class="font-600 mb-0 font-10 color-highlight">10% Complete</p>
                        <div class="progress" style="height:10px;">
                            <div class="progress-bar border-0 gradient-highlight text-start ps-2" role="progressbar"
                                style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="#" class="btn btn-full btn-s font-600 font-12 rounded-s gradient-highlight">Start</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-style">
            <div class="content">
                <h2 class="mb-2">How Do I Recycle Common Recyclables</h2>
                <span class="badge bg-highlight mb-3 p-1">COMPLETED</span>
                <div class="row mb-0">
                    <div class="col-8">
                        <p class="font-600 mb-0 font-10 color-highlight">10% Complete</p>
                        <div class="progress" style="height:10px;">
                            <div class="progress-bar border-0 gradient-highlight text-start ps-2" role="progressbar"
                                style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="#" class="btn btn-full btn-s font-600 font-12 rounded-s gradient-highlight">Start</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="divider divider-margins"></div>

        <div class="card card-style mt-2">
            <div class="content mb-2">
                <p class="color-highlight font-600 mb-n1">Most comon Questions we Get</p>
                <h1>Frequent Questions</h1>

                <div class="divider mt-2 mb-3"></div>

                <h5 href="#FAQ1" data-bs-toggle="collapse" role="button" class="font-14 font-600">
                    Can I recycle newspapers? 
                    <i class="fa fa-angle-down float-end me-2 mt-1 opacity-50 font-10"></i>
                </h5>
                <div class="collapse" id="FAQ1">
                    <p class="pb-3">
                        Yes, newspapers can be recycled. 


                    </p>
                </div>

                <div class="divider mt-3 mb-3"></div>

                <h5 href="#FAQ2" data-bs-toggle="collapse" role="button" class="font-14 font-600">
                    Are paper and cardboard takeout containers recyclable?

                    <i class="fa fa-angle-down float-end me-2 mt-1 opacity-50 font-10"></i>
                </h5>
                <div class="collapse" id="FAQ2">
                    <p class="pb-3">
                        It depends on how much food is left on them. Try rinsing or scraping the residue off to clean it. “Spatula-clean” is clean enough to recycle! Otherwise, containers contaminated with food cannot be recycled. 
                    </p>
                </div>

                <div class="divider mt-3 mb-3"></div>

                <h5 href="#FAQ3" data-bs-toggle="collapse" role="button" class="font-14 font-600">
                    Can cardboard containers and boxes be recycled?

                    <i class="fa fa-angle-down float-end me-2 mt-1 opacity-50 font-10"></i>
                </h5>
                <div class="collapse" id="FAQ3">
                    <p class="pb-3">
                        Yes, make sure to flatten any boxes before placing them in the bin. Examples of recyclable cardboard containers are some egg cartons, cereal boxes, and shoe boxes. 
                    </p>
                </div>

                <div class="divider mt-3 mb-3"></div>

                <h5 href="#FAQ4" data-bs-toggle="collapse" role="button" class="font-14 font-600">
                    Can books be recycled?

                    <i class="fa fa-angle-down float-end me-2 mt-1 opacity-50 font-10"></i>
                </h5>
                <div class="collapse" id="FAQ4">
                    <p class="pb-3">
                        If the book is still in good condition, try donating it! Schools, places of faith, charities, and non-profits will often accept book donations. If the book is not in usable condition, it can be recycled. Paperback books can be recycled as-is; remove the cover from a hardcover book before recycling it.
                    </p>
                </div>


            </div>
        </div>

    </div>

</div>