<div id="footer-bar" class="footer-bar-6">
    <a [routerLink]="['/rewards']" routerLinkActive="active-nav"><i class="fa fa-award"></i><span>Rewards</span>
        <em></em>
    </a>
    <a [routerLink]="['/guides']" routerLinkActive="active-nav"><i class="fa fa-book"></i><span>Guides</span>
        <em></em>
    </a>

    <a routerLink="/home" routerLinkActive="active-nav" class="circle-nav"><i class="fa fa-home"></i><span>Home</span>
        <strong><u></u></strong>
        <em></em>
    </a>


    <a [routerLink]="['/profile']" routerLinkActive="active-nav" data-menu="menu-main"><i
            class="fa fa-user"></i><span>User</span>
        <em></em>

    </a>
    <a [routerLink]="['/login']" routerLinkActive="active-nav"><i class="fa fa-sign-in"></i><span>Login</span>
        <em></em>

    </a>
</div>