<div class="page-content header-clear-small">

    <div class="card card-style">
        <div class="content">
            <p class="font-600 color-highlight mb-n1">Let's start</p>
            <h1 class="font-30">Sign In</h1>
            <p>
                Enter your credentials below to sign into your account.
            </p>

            <div class="input-style no-borders has-icon validate-field mb-4">
                <i class="fa fa-user"></i>
                <input type="name" class="form-control validate-name" id="form1a" placeholder="Username">
                <label for="form1a" class="color-highlight">Username</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>
            <div class="input-style no-borders has-icon validate-field mb-4">
                <i class="fa fa-lock"></i>
                <input type="password" class="form-control validate-password" id="form1ab" placeholder="Password">
                <label for="form1ab" class="color-highlight">Password</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>

            <a href="#" data-back-button class="btn btn-full btn-l font-600 font-13 gradient-highlight mt-4 rounded-s">Sign In</a>

            <div class="row pt-3 mb-3">
                <div class="col-6 text-start">
                    <!-- <a href="page-system-forgot-1.html" class="color-highlight">Forgot Password?</a> -->
                </div>
                <div class="col-6 text-end">
                    <a routerLink="/register" class="color-highlight">Create Account</a>
                </div>
            </div>

            <div class="divider"></div>

            <a href="#" class="btn btn-icon text-start btn-full btn-l font-600 font-13 bg-facebook mt-4 rounded-s"><i class="fab fa-facebook-f text-center"></i>Sign In with Facebook</a>
            <a href="#" class="btn btn-icon text-start btn-full btn-l font-600 font-13 bg-twitter mt-2 rounded-s"><i class="fab fa-twitter text-center"></i>Sign In with Twitter</a>
            <a href="#" class="btn btn-icon text-start btn-full btn-l font-600 font-13 bg-dark-dark mt-2 rounded-s"><i class="fab fa-apple text-center"></i>Sign In with Apple</a>

        </div>
    </div>


    <div data-menu-load="menu-footer.html"></div>
</div>