<div class="card card-style">
    <div class="content">
        <div class="d-flex">
            <h4 class="title">{{title}}</h4>
            <div class="ms-auto"><span class="color-theme  font-500 font-20"><i
                class="fa fa-check-circle color-highlight"></i></span></div>
        </div>
        <div class="divider mb-2"></div>
        <div class="d-flex ">
            <div>
                <h6 class="font-400 color-theme opacity-50 font-11 pt-2">Rate</h6>
                <h5 class="font-18">5% </h5>

            </div>
            <div class="ms-auto text-end">
                <h6 class="font-400 color-theme opacity-50 font-11 pt-2">Points</h6>
                <h5 class=" font-18">5000/5000</h5>
            </div>
        </div>
    </div>
</div>