<div class="page-title page-title-fixed">
    <h1>User Info</h1>
</div>
<div class="page-title-clear"></div>
    
<div class="page-content">
    <div class="card card-style">
        <div class="content mb-0">        
            <div class="input-style has-borders has-icon validate-field mb-4">
                <i class="fa fa-user"></i>
                <input type="name" class="form-control validate-name" id="form1" placeholder="Name">
                <label for="form1" class="color-highlight">Name</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
            
            <div class="input-style has-borders no-icon validate-field mb-4">
                <input type="email" class="form-control validate-text" id="form2" placeholder="Email">
                <label for="form2" class="color-highlight">Email</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
            
            <div class="input-style has-borders no-icon validate-field mb-4">
                <input type="password" class="form-control validate-text" id="form3" placeholder="Password">
                <label for="form3" class="color-highlight">Password</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
            
            <div class="input-style has-borders no-icon validate-field mb-4">
                <input type="url" class="form-control validate-text" id="form44" placeholder="Website">
                <label for="form44" class="color-highlight">Website</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>

            <div class="input-style has-borders no-icon validate-field mb-4">
                <input type="tel" class="form-control validate-text" id="form4" placeholder="Phone">
                <label for="form4" class="color-highlight">Phone</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>

            <div class="input-style has-borders no-icon mb-4">
                <label for="form5" class="color-highlight">Select A Value</label>
                <select id="form5">
                    <option value="default" disabled="" selected="">Select a Value</option>
                    <option value="iOS">iOS</option>
                    <option value="Linux">Linux</option>
                    <option value="MacOS">MacOS</option>
                    <option value="Android">Android</option>
                    <option value="Windows">Windows</option>
                </select>
                <span><i class="fa fa-chevron-down"></i></span>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <i class="fa fa-check disabled invalid color-red-dark"></i>
                <em></em>
            </div>

            <div class="input-style has-borders no-icon mb-4">
                <input type="date" value="2030-12-31" max="2030-01-01" min="2021-01-01" class="form-control validate-text" id="form6" placeholder="Phone">
                <label for="form6" class="color-highlight">Select Date</label>
                <i class="fa fa-check disabled valid me-4 pe-3 font-12 color-green-dark"></i>
                <i class="fa fa-check disabled invalid me-4 pe-3 font-12 color-red-dark"></i>
            <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
            
            <div class="input-style has-borders no-icon mb-4">
                <textarea id="form7" placeholder="Enter your message"></textarea>
                <label for="form7" class="color-highlight">Enter your Message</label>
                <em class="mt-n3">(required)</em>
            </div>

        </div>
    </div>
</div>