<a href="#" class="card card-style me-0 mb-0 list-item list-item" data-card-height="160">
    <div class="card-top px-2 mx-1 pt-1">
        <div class="d-flex">
            <div><span class="color-theme opacity-40 font-600 font-11">{{'2024/06/25' | date: 'shortDate'}}</span></div>
            <div class="ms-auto"><span class="color-theme opacity-40 font-500 font-11"> 19:00</span></div>
        </div>
    </div>
    <div class="card-center px-2 mx-1">
        <h4 class="pb-3 font-700">{{name}}</h4>
    </div>
    <div class="card-bottom px-2 mx-1 pb-2">
        <div class="d-flex">
            <a _ngcontent-ng-c1320885041="" href="#"
                class="btn btn-full btn-s font-600 font-12 rounded-s gradient-highlight col">
                <i class="fa fa-award"></i> {{points}}
            </a>
        </div>
    </div>
</a>