<div class="page-content header-clear-small">

    <div class="card card-style">
        <div class="content">
            <p class="font-600 color-highlight mb-n1">Free Accounts</p>
            <h1 class="font-30">Sign Up</h1>
            <p>
                Create an account, it's free and gives you tones of benefits!
            </p>

            <div class="input-style no-borders has-icon validate-field mb-4">
                <i class="fa fa-user"></i>
                <input type="name" class="form-control validate-name" id="form1ab" placeholder="Username">
                <label for="form1ab" class="color-highlight">Username</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>
            <div class="input-style no-borders has-icon validate-field mb-4">
                <i class="fa fa-at"></i>
                <input type="email" class="form-control validate-email" id="form1ac" placeholder="Email Address">
                <label for="form1ac" class="color-highlight">Email Address</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>
            <div class="input-style no-borders has-icon validate-field mb-4">
                <i class="fa fa-lock"></i>
                <input type="password" class="form-control validate-password" id="form1ad"
                    placeholder="Choose Password">
                <label for="form1ad" class="color-highlight">Choose Password</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>
            <div class="input-style no-borders has-icon validate-field mb-4">
                <i class="fa fa-lock"></i>
                <input type="password" class="form-control validate-password" id="form1ae"
                    placeholder="Confirm Password">
                <label for="form1ae" class="color-highlight">Confirm Password</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>

            <a routerLink="/" data-back-button
                class="btn btn-full btn-l font-600 font-13 gradient-highlight mt-4 rounded-s">Create Account</a>

            <div class="row pt-3 mb-3">
                <div class="col-6 text-start">
                    <!-- <a href="page-system-forgot-1.html">Forgot Password?</a> -->
                </div>
                <div class="col-6 text-end">
                    <a routerLink="/login">Sign In Here</a>
                </div>
            </div>

            <div class="divider"></div>

            <a routerLink="/"
                class="btn btn-icon text-start btn-full btn-l font-600 font-13 bg-facebook mt-4 rounded-s"><i
                    class="fab fa-facebook-f text-center"></i>Sign up with Facebook</a>
            <a routerLink="/"
                class="btn btn-icon text-start btn-full btn-l font-600 font-13 bg-twitter mt-2 rounded-s"><i
                    class="fab fa-twitter text-center"></i>Sign up with Twitter</a>
            <a routerLink="/"
                class="btn btn-icon text-start btn-full btn-l font-600 font-13 bg-dark-dark mt-2 rounded-s"><i
                    class="fab fa-apple text-center"></i>Sign up with Apple</a>


        </div>
    </div>


    <div data-menu-load="menu-footer.html"></div>
</div>